*/config/development/*
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

samplechat/development/config/config.php
samplechat/development/config/database.php
samplechat/development/config/ldap_auth.php
